@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,229,1) 100%);
  font-family: 'Poppins', sans-serif;
}

.app-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-circular {
  width: max-content;
  display: block;
  margin: 20px auto;
}