@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(../images/background.svg);
  font-family: 'Poppins', sans-serif;
}

.app-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-circular {
  width: max-content;
  display: block;
  margin: 20px auto;
}

.center-white {
  .MuiCircularProgress-colorPrimary {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: white;
  }
}